*{
    background-color: grey;
    border-radius: 50px;
}

.start-quiz-button {

    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
    font-weight: bold;
    font-size: 20px;
    
}

.count-down {
    display: block;
}


.question-box {
    background-color: lightblue;
    border:5px solid black;
    border-radius: 40px;
        
}


.question-box p {
    background-color: lightblue;
    text-indent: 10px;
    font-size: 30px; 
}



/* This is for toggling the display of the question box afer "start quiz" button is pressed */

.question-box {
    display: none;
    
}

.welcome-message, .start-quiz-button{
    display: block;
}

.answer-box p {
    text-indent: 50px;
    color: brown;
    font-weight: bolder;
    background-color: lightblue;
    font-size: 25px;
    border-radius: 40px;
    
    }

.submission-form {
    padding-left: 100px;
    background-color: lightblue;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}

.submission-form label{
    background-color: lightblue;
    font-size: 26px;
    color: red;
    font-weight: bold;
    
    
}

.submission-form input {
    height: 30px;
    width: 30px;
    
    
        
    }

.submission-form button {

    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15%;

    
}

.leaderboard-table tr, th, td{
    border: 2px solid black;
    border-radius: 0px;
    padding: 4px;
    margin: 0px;
    
    }

table{
    border-collapse: collapse;
    margin-left: 50px;
    padding: 40px;
}